* {
    margin: 0;
    padding: 0%;
    border: none;
}

body {
    background-color: plum;
}

.titulop,
.subTitulo {
    text-align: center;
    font-family: 'Courier New', Courier;
    margin-bottom: 2%;
    padding: 2%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
}

.pre_casamento,
.dia_da_noiva,
.cerimonia,
.festa,
.lua_de_mel {
    background-color: rgba(241, 132, 241, 0.74);
    flex-grow: 20%;
    box-sizing: border-box;
    margin: 0.5;
}

figure {
    height: 200pt;
}

figure img {
    height: 80%;
    width: 100%;
    border-radius: 10%;
    border: 5px solid rgb(184, 182, 182);
    margin: 0.5;
}

img:hover {
    position: relative;
    transition-delay: 0.2s;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 10px;
}