body{
    margin: 0%;
    padding: 0%;
    border: none;
}
.corpo{
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
}
.titulo{
    text-align: center;
    color: violet;
}
.lista{
    text-align: center;
    width: 60%;
    font-size: 30px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    }
.lista li{
    list-style: none;
    padding: 1%;
    border: solid 3px violet;
    background-color: rgb(10, 10, 134);
    margin: 5px;
    border-radius: 50px;
    color: violet;
}
.lista a{
    text-decoration: none;
    margin: 0%;
}
